.comment{
  color: #A41A2F;
}

.comment:hover{
  background-color: #a41a2fa0;
  color: #fff;
}

/* إخفاء input وإظهار أيقونة فقط */
@media (max-width: 500px) {
  .searchInput {
    display: none;
  }

  .searchIcon {
    display: none;
  }
}

/* العكس في الشاشات الكبيرة */
@media (min-width: 501px) {
  .searchInput {
    display: inline-block;
  }

  .searchIcon {
    display: none;
  }
}
