
  
  .profileImg {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  
  .start{
    font-size: 20px;
  }

  @media (max-width: 800px) {

 .start{
    font-size: 15px;
  }


  }